#project {
  background-color: #f5fafa;
  padding: 3rem 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project-card {
  position: relative;
  background-color: white;
  background-color: #ecf1f1;
  box-shadow:-4px 4px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  max-width: 350px;
  flex-direction: column;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* height: -webkit-fill-available; */
}

.card-description h3 {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.visit-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}

.visit-btn a {
  align-self: center;
  letter-spacing: 1px;
  line-height: 10px;
  padding: 1rem;
  /* border: 1px solid rgba(0,180,204,0.4); */
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.visit-btn a:hover {
  cursor: pointer;
  background-color: rgba(0,180,204,0.8);
}

/* .card-description button {
  align-self: flex-end;
  letter-spacing: 1px;
  height: 2.5rem;
  width: 6rem;
  border: 1px solid rgba(0,180,204,0.8);
  border: none;
  border-radius: 10px;
  background-color: rgba(0,180,204,0.3);
}

.card-description button a {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.card-description button:hover {
  border: none;
  cursor: pointer;
  background-color: rgba(0,180,204,0.8);
} */

.card-tags {
  text-align: left;
  margin-bottom: 1rem;
}

.card-tags p {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  border: 2px solid rgba(0,180,204,0.4);
  border-radius: 5px;
  padding: 2px 8px;
  margin: 2px;
}