.nav {
  background-color: rgb(34, 38, 41);
  max-width: 300px;
  min-width: 300px;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 99;
}

.top {
  height: 90vh;
}

.logo {
  padding: 2rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.profile-pic img {
  width: 60px;
  border-radius: 50%;
}

.info {
  text-align: right;
  color: #ffffff;
  margin-top: 0.5rem;
}

.middle ul {
  color: #ffffff;
  list-style-type: none;
  padding: 0;
}

.middle a {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 1.2em;
  font-weight: 300;
  padding: 1rem 2rem 1rem 2rem;
}

.middle a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  /* color: rgba(0,180,204,0.8); */
}

.middle i {
  line-height: 25px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10vh;
}

.bottom ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1rem;
}

.bottom li {
  display: inline;
  padding-right: 1rem;
}

.bottom span {
  color: #41484c;
  font-size: 25px;
}

.bottom span:hover {
  color: rgba(0,180,204,0.8);
}

.active{
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgba(0,180,204,0.8) !important;
}

@media (max-width: 940px) {
  .nav {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.75s ease;
  }

  .nav.show{
    transform: translateX(0);
  }

  .navToggle {
    z-index: 10;
    display: unset;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0,180,204,0.7);
    background-color: rgba(118, 116, 116, 0.5);
    cursor: pointer;
  }

  .navToggle:hover {
    background-color: rgba(0,0,0,0.3);
    color: rgb(12, 215, 242)  
  }
}